@font-face {
    font-family: "Anonymus-pro";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/Anonymous_Pro/AnonymousPro-Regular.ttf");
}
@font-face {
    font-family: "Google-Sans-Flex";
    font-weight: 400;
    font-style: normal;
    src: url("..fonts/Google_Sans_Flex/static/GoogleSansFlex_9pt-Regular.ttf");
}

@font-face {
    font-family: "Exo-2";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/Exo_2/static/Exo2-Regular.ttf");
}

a, p, h3 {
    font-family: "Anonymus-pro",monospace;
    color: #E0E1DD;
}

h1, h2 {
    font-family: "Exo-2", monospace;
    color: #E0E1DD;
}
body{
     background: linear-gradient(#0A0F1C, #1C1F26 );
     margin: 5rem;

}
.menu_principal ul{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 1rem;
}

.menu_item a{ 
    color: #E0E1DD;
    margin: 0.2rem;
    border: solid 0.2rem #E0E1DD;
    border-radius: 0.2rem;
    padding: 0.4rem;
    text-decoration: none;
}

.Hero p{
    padding-right: 30rem;
    text-align: left;

}

.Hero button{
    display: flex;
    font-family: 'Anonymus.pro', monospace;
    font-weight: 500;
    background: #00F6FF;
    border: 0.1rem solid #00C2D1;
    padding: 0.5rem;
    border-radius: 0.3rem;
}
.Hero button:hover{
    background: #ffffff;
    border-color: #ffffff;
    box-shadow: 0 0 .5rem #00F6FF;
}